<%- include('baseHead' , {titlePage : namePage}) %>

    <style>
       

        
    </style>
     <%- include("components/hero") %>

    <section>
        <%- include(`components/indexEvent`) %>
       
    </section>

    <section>
        <%- include(`components/services`) %>
    </section>

    <section>
        <%- include(`components/elegirnos`) %>
    </section>

    <section  class="flex flex-col gap-10">
        <div class="flex flex-col gap-3" >
            <h2 class="text-3xl w-fit  mx-auto">Opiniones</h2>
        <p  class="w-fit h-fit  text-center mx-auto">Gracias a sus opiniones seguimos mejorando  </p>
        </div>
        <%- include(`components/opinion`, {opinions: opinions}) %>
    </section>

    <%- include(`components/footer`) %>

    

    



    